@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
    font-family: 'Questrial', sans-serif;
}
body{
    background-color: #0f0f3e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    padding: 30px;
}
.formulario{
    background: #c5c5cd;
    width: 400px;
    box-shadow: 0px 0px 9px 2px #000000;
}

.formulario h1{
    text-align: center;
    padding-top: 10px;
}
label{
    padding: 5px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

input[type="text"], input[type="password"],select{
    margin-bottom: 5px;
    height: 30px;
    border: none;
    box-shadow: none;
}

input[type="submit"]{
    background-color: #0f0f3e;
    color: white;
    height: 35px;
    border: none;
    margin-top: 5px;
}